*{
  background-color: #E8E8E8;
}

header{
  background-color: #fff;
  width: 100%;
  height: 80px;
  border:1px solid black;
}

main{
 background-color: #fff;
  width: 100%;
  height:1000px;
  border:1px solid black;
}

footer{
   background-color: #fff;
  width: 100%;
  height:390px;
  border:1px solid black;

}